body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-linha-preta-em-bege_53876-126677.jpg?w=1060&t=st=1673905314~exp=1673905914~hmac=ad8ecc15f1816cf518e88957c8325af340ecf709dd2a7b911623d9401c8f8f97);
    background-size: 210vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #f2f2ef;
    display: inline-block;
    border: 1px solid black;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #333333;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    width: 100px;
    height: 50px;
    background:bisque;
    cursor: pointer;
}